<ion-view>
  <ion-slide-box on-slide-changed="slideChanged(index)" >
    <ion-slide class="intro-slide1" >
      <h5>Welcome to Shoutie!</h5>
    </ion-slide>
    <ion-slide  class="intro-slide2">
      <h3>Using Awesome</h3>
      
      <div id="list">
        <h5>Just three steps:</h5>
        <ol>
          <li>Be awesome</li>
          <li>Stay awesome</li>
          <li>There is no step 3</li>
        </ol>
      </div>
    </ion-slide>
    <ion-slide  class="intro-slide3">
      <h3>Any questions?</h3>
      <p>
        Too bad!
      </p>
    </ion-slide>
  </ion-slide-box>
  <div class="bar bar-footer bar-assertive" ng-click="startApp()">
    <div class="title title-center addButton">Start</div>
  </div>
</ion-view>