@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Light.ttf')  format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Lobster';
  src: url('../fonts/Lobster/Lobster-Regular.ttf')  format('truetype');
}

* {
    font-family: 'Lato', sans-serif !important;
    -webkit-font-smoothing: antialiased;
}

.slider {
    height: 100%;
    position: relative;

}

.intro-slide1 {
    background: url("../img/yell1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.intro-slide2 {
    background: url("../img/yell3.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.intro-slide3 {
    background: url("../img/yell2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.desaturate { -webkit-filter: grayscale(60%); filter: grayscale(60%); }

h3{
    font-family: 'Lobster', cursive !important;
}

h5{
    font-family: 'Lobster', cursive !important;
    font-size: 2.5em !important;
}


#map {
    width: 100%;
    height: calc(100% - 150px);
}

.scroll {
    height: 100%;
}
/* Your app's CSS, go crazy, make it your own */

.ionic-logo {
    display: block;
    margin: 15px auto;
    width: 96px;
    height: 96px;
}

.bar.bar-transparent {
    background-color: transparent;
    background-image: none;
    border: none;
}

.bar .title {
    color: #eee;
}

.no-cards {
    height: 100%;
    color: grey;
    line-height: 300px;
    word-wrap: break-word;
    text-align: center;
}
.no-cards .content {
    display: inline-block;
    line-height: 40px;
    width: 200px;
    font-size: 30px;
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%; 
    margin-top: -60px;
    margin-left: -100px;
}

.swipe-cards {
    position: relative;
}

swipe-card {
    display: none;
    position: fixed;
    -webkit-transform: scale(1,1);
    left: 50%;
    top: 50%;
    width: 300px;
    height: 300px;
    margin-left: -150px;
    margin-top: -150px;
    box-sizing: border-box;
    background-color: rgb(255,255,255);
    overflow: hidden;
    -webkit-animation-fill-mode: forwards;
}

swipe-card .title {
    height: 40px;
    padding: 5px;
    line-height: 30px;
    color: #444;
}
swipe-card .image {
    overflow: hidden;
    max-height: 210px;
}
swipe-card .button {
    border: none;
}
swipe-card .image img {
    width: 100%;
    border-radius: 0px 0px 4px 4px;
}

.start-card {
    color: #fff;
    background-color: #30BD8A;
    line-height: 300px;
    word-wrap: break-word;
    border-radius: 10px;
    text-align: center;
    z-index: 100;
}
.start-card .content {
    display: inline-block;
    line-height: 40px;
    width: 200px;
    font-size: 30px;
    vertical-align: middle;
}

.start-card .dis {
    position: relative;
    height: 40px;
    width: calc(100% - 10px);
    padding: 5px;
    margin-left: 5px;
    line-height: 30px;
    margin-top: -50px !important;
}

.start-card .seen {
    padding: 5px;
    line-height: 30px;
}

.start-card .time {
    height: 40px;
    width: 33%;
    text-align: right;
    padding: 5px;
    line-height: 30px;
    display: inline-block;
    position: relative;
}

.bottom{
    position: absolute;
    bottom: 10px;
}

#footer .button {
    color: #fff;
}

.title-center {
    font-family: 'Lobster', cursive !important;
    font-size: 2.2em !important;
}

.addButton {
    font-size: 3em !important;
}

.shoutLength {
    color: grey;
    margin: 0px;
    margin-top: -10px;
    padding: 0px;
    text-align: center;
}

.shout-item {
    position: relative;
    border: none;
    padding: 5px 15px 5px 20px !important;
}

.shout-item .item-content {
    padding: 0px !important;
}

.shout-item .color-box {
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 3px;
    position: absolute;
    left: 5px;
    top: 7px;
    background-color: #FF850A;
}

.shout-item .color-box .mine {
    border: 2px solid red;
}

.shout-item .shout-content {
    margin-left: 8px;
    width: 100%;
}

.shout-text {
  display: inline-block;
  width: calc(100% - 40px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}

@-webkit-keyframes bounceIn {
    0% {
        -webkit-transform: scale(0,0);
    }
    70% {
        -webkit-transform: scale(1.2,1.2);
    }
    100% {
        -webkit-transform: scale(1,1);
    }
}

swipe-card.pop-in-start {
    -webkit-transform: scale(0,0);
}
.pop-in {
    -webkit-animation: bounceIn 0.4s ease-out;
}

.fade-out.ng-leave {
    -webkit-animation: fadeOutLeft 1s;
    -moz-animation: fadeOutLeft 1s;
    -ms-animation: fadeOutLeft 1s;
    animation: fadeOutLeft 1s;
}

.bar.bar-loading {
  display: block;
  height: 24px;
  
  /* starts right below a normal header */
  top: 44px;
  
  /* make the text centered vertically and horizontally */
  text-align: center;
  padding: 0;
  line-height: 24px;

  /* transition 'sliding down' (check below)*/
  -webkit-transition: 200ms all;
}

.platform-ios.platform-cordova:not(.fullscreen) .bar-loading {
  top: 64px; 
}


/* 
 * make the content's top changes animate.
 * might not always look good, but looks
 * good when our loader is added & removed
 */
.has-header {
  -webkit-transition: 200ms top;
}
.has-header.has-loading {
  /* 44px (header) + 24px */
  top: 68px;
}

.platform-ios.platform-cordova:not(.fullscreen) .has-header.has-loading {
  top: 88px; 
}

/* make loading bar slide up/down */
.bar-loading.ng-enter,
.bar-loading.ng-leave.ng-leave-active {
  height: 0;
  border-width: 0px;
}
.bar-loading.ng-enter.ng-enter-active,
.bar-loading.ng-leave {
  height: 24px;
  border-width: 1px;
}

.time-hint {
    line-height: 10px;
    font-size: .7em;
}

